---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Fitformatyk">
	<main>
		<nav>
			<ul>
				<li><a href="/">Strona główna</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/kontakt">Kontakt</a></li>
			</ul>
		</nav>
		<header>
			<h1>Fitformatyk</h1>
		</header>
		<p>
			<!-- Todo: Jakieś chwytliwe zdanie -->
		</p>
		<article>

		</article>
		<footer>
			<p>
				&copy; 2024 Kacper Twardowski
			</p>
		</footer>
	</main>
</Layout>
